:root {
    --primary-color: #d8a900ea;
    --secondary-color: #A46E00;
    --background-color: #fff;
    --text-color: #493308;
    --primary-font: 'inter';
    --secondary-font: 'lemon';
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: #d8a900ea ;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.search-bar {
    display: flex;
    position: relative;
}

#search {
    background-color: #ffffff48;
    border: none;
    height: 30px;
    border-radius: 5px;
}

.search-button {
    background: none;
    border: none;
    position: absolute;
    left: 3px;
    top: 3px;
}

a {
    color: #fff;
    text-decoration: none;
    font-family: var(--primary-font);
    font-size: 1.2rem;
}


.profile {
    width: 3rem;
    margin: 5px;
}

